<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>{{tasks.length}}</h1>
            <p class="lead">
            </p>
        </div>
        
        <div class="row marketing">
            <div class="todo-list">
                <div class="todo-list-item" ng-repeat="task in tasks">
                    <div class="check">Tick</div> 
                    <div class="priority">Priority</div>
                    <div class="todo-list-item-desc">
                        {{task}}
                    </div>
                    <div class="date">10/20/2014</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="sidebar-nav-fixed pull-right affix">
            <div class="well">
                <ul class="nav ">
                    <li class="nav-header">People</li>
                    <li ng-repeat="user in users"><a href="#">{{user.username}}</a>
                    </li>
                </ul>
            </div>
            <!--/.well -->
        </div>
    </div>
</div>