<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>{{tasks.length}}</h1>
            <p class="lead">
            </p>
        </div>
        
        <div class="row marketing">
            <div class="todo-list">
                <input type="text" ng-model="newTask" />
                <input type="button" value="Add" ng-click="addNewTask(newTask)"/>
                <div class="todo-list-item row" ng-repeat="task in tasks">
                    <div class="check col-md-1"><input type="checkbox" /></div> 
                    <div class="priority col-md-1">{{task.priority}}</div>
                    <div class="todo-list-item-desc col-md-7">
                        {{task.text}}
                    </div>
                    <div class="date col-md-3">10/20/2014</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="sidebar-nav-fixed pull-right affix">
            <div class="well">
                <ul class="nav ">
                    <li class="nav-header">People</li>
                    <li ng-repeat="user in users"><a href="#">{{user.username}}</a>
                    </li>
                </ul>
            </div>
            <!--/.well -->
        </div>
    </div>
</div>